/*------------------
    Reset styles
------------------*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

*:before,
*:after {
    box-sizing: border-box;
}

html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;

    -webkit-tap-highlight-color: transparent;
    -webkit-overflow-scrolling: touch;
    text-rendering: optimizeLegibility;
    text-decoration-skip: objects;
}

img {
    border-style: none;
}

textarea {
    overflow: auto;
}

:focus {
    outline: 0;
}

:hover,
:active {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-touch-callout: none;
}

::-ms-clear {
    display: none;
}


@font-face {
    font-family: 'SF Pro Display';
    font-weight: bold;
    font-style: normal;

    src: url('../fonts/SFProDisplay-Bold.eot');
    src: local('SF Pro Display Bold'), local('../fonts/SFProDisplay-Bold'),
        url('../fonts/SFProDisplay-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SFProDisplay-Bold.woff2') format('woff2'),
        url('../fonts/SFProDisplay-Bold.woff') format('woff'),
        url('../fonts/SFProDisplay-Bold.ttf') format('truetype');
}


@font-face {
    font-family: 'SF Pro Display';
    font-weight: normal;
    font-style: normal;

    src: url('../fonts/SFProDisplay-Regular.eot');
    src: local('SF Pro Display Regular'), local('../fonts/SFProDisplay-Regular'),
        url('../fonts/SFProDisplay-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SFProDisplay-Regular.woff2') format('woff2'),
        url('../fonts/SFProDisplay-Regular.woff') format('woff'),
        url('../fonts/SFProDisplay-Regular.ttf') format('truetype');
}



/* Start */

body {
    font-family: 'SF Pro Display';
    background: #F2F2F2;
}

.container {
    width: 100%;
    max-width: 598px;
    margin: 0px auto;
    background: #FFFFFF;
    box-shadow: 0px 9px 17px rgba(0, 0, 0, 0.0369591);
    border-radius: 24px;
}

.voting {
    background: #FFFFFF;
    border-radius: 24px;
    padding: 30px 24px 20px 24px;
    margin-top: 20px;
}

.voting__title {
    margin-bottom: 24px;
}

form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.form_radio {
    width: calc(100% / 2 - 13px);
}

.form2 {
    margin-bottom: 34px;
}

label {
    margin-bottom: 26px;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    font-weight: bold;
    line-height: 19px;
    color: #575757;
    padding: 30px 15px 30px 56px;
    background: #F1F1F1;
    border-radius: 7px;
}

.cat__label {
    margin-bottom: 29px;
    height: 107px;
    padding: 45px 27px 45px 160px !important;
    align-items: center;
}

input[type=radio]+.cat__label:before, input[type=checkbox]+.cat__label:before {
    left: 123px;
}

input[type=radio]:checked+.cat__label2:after, input[type=checkbox]:checked+.cat__label2:after{
    border-bottom: 2px solid #fff;
    border-left: 2px solid #fff;
    width: 9px;
    height: 5px;
    content: "";
    position: absolute;
    left: 131px;
    top: 51px;
    transform: rotate(-45deg);
}

input[type=radio], input[type=checkbox] {
    display: none;
}

.super {
    font-weight: bold;
}

label {
    cursor: pointer;
    position: relative;
    margin-right: 0;
    line-height: 18px;
    user-select: none;
}

input[type=radio]+label:before, input[type=checkbox]+label:before {
    border: 1px solid #000000;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: none;
    content: "";
    position: absolute;
    left: 17px;
    top: calc(100% / 2 - 12px);
    background: #D4D4D4;
}

input[type=radio]:checked+label:after, input[type=checkbox]:checked+label:after {
    border-bottom: 2px solid #fff;
    border-left: 2px solid #fff;
    width: 9px;
    height: 5px;
    content: "";
    position: absolute;
    left: 25px;
    top: calc(100% / 2 - 4px);
    transform: rotate(-45deg);
}

input[type=radio]:checked+label:before,input[type=checkbox]:checked+label:before  {
    background-color: #5397FF;
}

.voting__questions {
    border-top: 1px solid #DDE4EB;
    margin: 0 -26px;
    padding-left: 26px;
    padding-right: 26px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.voting__question {
    width: calc(100% - 140px);
    margin-top: 25px;
}

.voting__question-title {
    font-family: SF Pro Display;
    font-size: 14px;
    line-height: 16px;
    color: #575757;
    font-weight: bold;
}

.voting__row {
    width: 100%;
    background: #F1F1F1;
    border-radius: 7px;
    width: 100%;
    height: 7px;
    border-radius: 3.5px;
    position: relative;
    margin-top: 10px;
    margin-bottom: 20px;
}

.voting__row-left {
    background: #5397FF;
    border-radius: 3.5px;
    position: absolute;
    content: "";
    display: block;
    height: 7px;
    top: 0;
    left: 0;
    width: 0;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    transition: width 0.6s ease;
}

.submit {
    text-align: end;
    margin-bottom: 15px;
    display: flex;
}

.button {
    background: #5397FF;
    border-radius: 3px;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #FFFFFF;
    padding: 10px 0;
    border: none;
    cursor: pointer;
    font-family: 'SF Pro Display';
}

.voting__button {
    position: relative;
    width: 79px;
}

.back {
    background-image: url(../image/shape3.png);
    background-repeat: no-repeat;
    z-index: 55;
    width: 36px;
    height: 36px;
    margin-right: 10px;
}

.voting__button:hover {
    opacity: 0.7;
}

.start {
    text-align: center;
    padding: 51px 15px;
    margin-top: 20px;
}

.start__image {
    margin-bottom: 35px;
    border-radius: 40px;
}

.title {
    font-size: 24px;
    line-height: 28px;
    font-weight: bold;
    font-weight: bold;
    color: #393F4C;
    letter-spacing: -0.95px;
}

.start__title {
    margin-bottom: 29px;
}

.start__button {
    position: relative;
    width: 139px;
}

.answer {
    padding: 26px;
    margin-top: 20px;
}

.answer__title {
    margin-bottom: 20px;
}

.answer__textarea {
    height: 258px;
    width: 100%;
    color: #000;
}

.answer__label {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #212529;
    margin-bottom: 9px;
}

textarea {
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 24px;
    color: #BFC6CE;
    resize: none;
    background: #FFFFFF;
    border: 1px solid #CDD5DD;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 9px;
    margin-bottom: 26px;
    font-family: 'SF Pro Display';
}

textarea::-webkit-input-placeholder {
    color: #000;
}

.answer__button {
    position: relative;
    width: 79px;
}

.cat {
    padding: 26px;
    margin-top: 20px;

}

.cat__title {
    margin-bottom: 22px;
}

.cat__image {
    position: absolute;
    border-radius: 3px;
    z-index: 10;
}

.cat__label {
    height: 107px;
    padding: 45px 27px 45px 145px;
    align-items: center;
}

.finish {
    padding: 68px 15px 65px 15px;
    text-align: center;
    margin-top: 20px;
}

.finish__image {
    margin-bottom: 37px;
}

.finish-text2 {
    color: #5397FF;

}

.finish__text {
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: #393F4C;
    font-weight: bold;
    margin-bottom: 10px;

}


@media (max-width: 479px) {
    .title {
        font-size: 20px;
        line-height: 23px;
    }

    form {
        flex-direction: column;
    }

    .form_radio {
        width: calc(100%);
    }

    .super {
        margin-bottom: 14px;
    }

    .container {
        width: 90%;
    }
}

.step {
    display: none;
}

.step.active {
    display: block;
}

.input_for_input {
    font-family: 'SF Pro Display';
    font-size: 14px;
    line-height: 16px;

    color: #212529;
    width:100%;
        font-weight: bold;
        margin-bottom:10px;
}

.input_form {
        font-family: 'SF Pro Display';
    width: 100%;
    margin-bottom: 20px;
    border: 1px solid #CDD5DD;
    box-sizing: border-box;
    border-radius: 4px;
    height: 38px;
    padding: 0 10px;
}

.error{
    border:1px solid red !important;
}