@font-face
{
    font-family: 'SF Pro Display';
    font-weight: bold;
    font-style: normal;

    src: url('../fonts/SFProDisplay-Bold.eot');
    src: local('SF Pro Display Bold'), local('../fonts/SFProDisplay-Bold'), url('../fonts/SFProDisplay-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/SFProDisplay-Bold.woff2') format('woff2'), url('../fonts/SFProDisplay-Bold.woff') format('woff'), url('../fonts/SFProDisplay-Bold.ttf') format('truetype');
}

@font-face
{
    font-family: 'SF Pro Display';
    font-weight: normal;
    font-style: normal;

    src: url('../fonts/SFProDisplay-Regular.eot');
    src: local('SF Pro Display Regular'), local('../fonts/SFProDisplay-Regular'), url('../fonts/SFProDisplay-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/SFProDisplay-Regular.woff2') format('woff2'), url('../fonts/SFProDisplay-Regular.woff') format('woff'), url('../fonts/SFProDisplay-Regular.ttf') format('truetype');
}

/* Start */
.block_pool_777 .container
{
    font-family: 'SF Pro Display';

    width: 100%;
    max-width: 598px;
    margin: 0 auto;

    border-radius: 24px;
    background: #fff;
    box-shadow: 0 9px 17px rgba(0, 0, 0, .0369591);
}

.block_pool_777 .voting
{
    margin-top: 20px;
    padding: 30px 24px 20px 24px;

    border-radius: 24px;
    background: #fff;
}

.block_pool_777 .voting__title
{
    margin-bottom: 24px;
}

.block_pool_777 form
{
    display: flex;

    flex-wrap: wrap;
    justify-content: space-between;
}

.block_pool_777 .form_radio
{
    width: calc(100% / 2 - 13px);
}

.block_pool_777 .form2
{
    margin-bottom: 34px;
}

.block_pool_777 label
{
    color: #575757;
    font-size: 14px;
    font-weight: bold;
    line-height: 19px;

    display: flex;

    margin-bottom: 26px;
    padding: 30px 15px 30px 56px;

    border-radius: 7px;
    background: #f1f1f1;

    justify-content: space-between;
}

.block_pool_777 .cat__label
{
    height: 107px;
    margin-bottom: 29px;
    padding: 45px 27px 45px 160px !important;

    align-items: center;
}

.block_pool_777 input[type=radio] + .cat__label:before,
.block_pool_777 input[type=checkbox] + .cat__label:before
{
    left: 123px;
}

.block_pool_777 input[type=radio]:checked + .cat__label2:after,
.block_pool_777 input[type=checkbox]:checked + .cat__label2:after
{
    position: absolute;
    top: 51px;
    left: 131px;

    width: 9px;
    height: 5px;

    content: '';
    transform: rotate(-45deg);

    border-bottom: 2px solid #fff;
    border-left: 2px solid #fff;
}

.block_pool_777 input[type=radio],
.block_pool_777 input[type=checkbox]
{
    display: none;
}

.block_pool_777 .super
{
    font-weight: bold;
}

.block_pool_777 label
{
    line-height: 18px;

    position: relative;

    margin-right: 0;

    cursor: pointer;
    user-select: none;
}

.block_pool_777 input[type=radio] + label:before,
.block_pool_777 input[type=checkbox] + label:before
{
    position: absolute;
    top: calc(100% / 2 - 12px);
    left: 17px;

    width: 24px;
    height: 24px;

    content: '';

    border: 1px solid #000;
    border: none;
    border-radius: 50%;
    background: #d4d4d4;
}

.block_pool_777 input[type=radio]:checked + label:after,
.block_pool_777 input[type=checkbox]:checked + label:after
{
    position: absolute;
    top: calc(100% / 2 - 4px);
    left: 25px;

    width: 9px;
    height: 5px;

    content: '';
    transform: rotate(-45deg);

    border-bottom: 2px solid #fff;
    border-left: 2px solid #fff;
}

.block_pool_777 input[type=radio]:checked + label:before,
.block_pool_777 input[type=checkbox]:checked + label:before
{
    background-color: #5397ff;
}

.block_pool_777 .voting__questions
{
    display: flex;

    margin: 0 -26px;
    padding-right: 26px;
    padding-left: 26px;

    border-top: 1px solid #dde4eb;

    justify-content: space-between;
    align-items: flex-end;
}

.block_pool_777 .voting__question
{
    width: calc(100% - 140px);
    margin-top: 25px;
}

.block_pool_777 .voting__question-title
{
    color: #575757;
    font-family: SF Pro Display;
    font-size: 14px;
    font-weight: bold;
    line-height: 16px;
}

.block_pool_777 .voting__row
{
    position: relative;

    width: 100%;
    width: 100%;
    height: 7px;
    margin-top: 10px;
    margin-bottom: 20px;

    border-radius: 7px;
    border-radius: 3.5px;
    background: #f1f1f1;
}

.block_pool_777 .voting__row-left
{
    color: #fff;
    font-size: 16px;
    line-height: 19px;

    position: absolute;
    top: 0;
    left: 0;

    display: block;

    width: 0;
    height: 7px;

    content: '';
    transition: width .6s ease;

    border-radius: 3.5px;
    background: #5397ff;
}

.block_pool_777 .submit
{
    display: flex;

    margin-bottom: 15px;

    text-align: end;
}

.block_pool_777 .button
{
    color: #fff;
    font-family: 'SF Pro Display';
    font-size: 14px;
    line-height: 16px;

    padding: 10px 0;

    cursor: pointer;
    text-align: center;

    border: none;
    border-radius: 3px;
    background: #5397ff;
}

.block_pool_777 .voting__button
{
    position: relative;

    width: 79px;
}

.block_pool_777 .back
{
    z-index: 55;

    width: 36px;
    height: 36px;
    margin-right: 10px;

    background-image: url(../image/shape3.png);
    background-repeat: no-repeat;
}

.block_pool_777 .voting__button:hover
{
    opacity: .7;
}

.block_pool_777 .start
{
    margin-top: 20px;
    padding: 51px 15px;

    text-align: center;
}

.block_pool_777 .start__image
{
    margin-bottom: 35px;

    border-radius: 40px;
}

.block_pool_777 .title
{
    color: #393f4c;
    font-size: 24px;
    font-weight: bold;
    font-weight: bold;
    line-height: 28px;

    letter-spacing: -.95px;
}

.block_pool_777 .start__title
{
    margin-bottom: 29px;
}

.block_pool_777 .start__button
{
    position: relative;

    width: 139px;
}

.block_pool_777 .answer
{
    margin-top: 20px;
    padding: 26px;
}

.block_pool_777 .answer__title
{
    margin-bottom: 20px;
}

.block_pool_777 .answer__textarea
{
    color: #000;

    width: 100%;
    height: 258px;
}

.block_pool_777 .answer__label
{
    color: #212529;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    line-height: 16px;

    margin-bottom: 9px;
}

.block_pool_777 textarea
{
    color: #bfc6ce;
    font-family: 'SF Pro Display';
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    line-height: 24px;

    box-sizing: border-box;
    margin-bottom: 26px;
    padding: 9px;

    resize: none;

    border: 1px solid #cdd5dd;
    border-radius: 4px;
    background: #fff;
}

.block_pool_777 textarea::-webkit-input-placeholder
{
    color: #000;
}

.block_pool_777 .answer__button
{
    position: relative;

    width: 79px;
}

.block_pool_777 .cat
{
    margin-top: 20px;
    padding: 26px;
}

.block_pool_777 .cat__title
{
    margin-bottom: 22px;
}

.block_pool_777 .cat__image
{
    position: absolute;
    z-index: 10;

    border-radius: 3px;
}

.block_pool_777 .cat__label
{
    height: 107px;
    padding: 45px 27px 45px 145px;

    align-items: center;
}

.block_pool_777 .finish
{
    margin-top: 20px;
    padding: 68px 15px 65px 15px;

    text-align: center;
}

.block_pool_777 .finish__image
{
    margin-bottom: 37px;
}

.block_pool_777 .finish-text2
{
    color: #5397ff;
}

.block_pool_777 .finish__text
{
    color: #393f4c;
    font-size: 24px;
    font-weight: bold;
    line-height: 28px;

    margin-bottom: 10px;

    text-align: center;
}

.block_pool_777 .step
{
    display: none;
}

.block_pool_777 .step.active
{
    display: block;
}

.block_pool_777 .input_for_input
{
    color: #212529;
    font-family: 'SF Pro Display';
    font-size: 14px;
    font-weight: bold;
    line-height: 16px;

    width: 100%;
    margin-bottom: 10px;
}

.block_pool_777 .input_form
{
    font-family: 'SF Pro Display';

    box-sizing: border-box;
    width: 100%;
    height: 38px;
    margin-bottom: 20px;
    padding: 0 10px;

    border: 1px solid #cdd5dd;
    border-radius: 4px;
}

.block_pool_777 .error
{
    border: 1px solid red !important;
}

@media (max-width: 479px)
{
    .block_pool_777 .title
    {
        font-size: 20px;
        line-height: 23px;
    }

    .block_pool_777 form
    {
        flex-direction: column;
    }

    .block_pool_777 .form_radio
    {
        width: calc(100%);
    }

    .block_pool_777 .super
    {
        margin-bottom: 14px;
    }

    .block_pool_777 .container
    {
        width: 90%;
    }
}
